.first-container {
    width: 1440px;
    height: 720px;
    background-color: Very Dark rgb(239, 239, 248);
    position: relative;

}

h1 {
    text-align: center;
    margin-top: 20px;
    
}
.top-paragraph {
    margin: 10px auto 0 auto;
    text-decoration: solid;
    width: 450px;
    text-align: center;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    

}

.top1 {
    margin: 20px auto 0 auto;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

.top-text {
    margin: 0 auto 0 auto;
    font-family: 'Poppins', sans-serif;
    font: bolder;
}

.text-content {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color: grey;
    font-weight: 800;
}

.text-header {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif
}

.supervisor-container {
    width: 280px;
    height: 180px;
    background-color: white;
    padding: 10px;
    position: relative;     
    border-top: rgb(0, 238, 255) 5px solid;
    box-shadow: 8px 8px 8px 8px rgb(247, 246, 246);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    right: 900px;
    top: 300px;
           
}

.team-container {
    width: 280px;
    height: 180px;
    background-color: white;
    padding: 10px;
    position: relative;     
    border-top: red 5px solid;
    box-shadow: 8px 8px 8px 8px rgb(247, 246, 246);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    left: 930px;
    top: 300px;
    
}

.karma-container {
    width: 280px;
    height: 180px;
    background-color: white;
    padding: 10px;
    position: relative;     
    border-top: rgb(255, 187, 0)5px solid;
    box-shadow: 8px 8px 8px 8px rgb(247, 246, 246);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    left: 600px;
    top: 400px;
}

.calculator-container {
    width: 280px;
    height: 180px;
    background-color: white;
    padding: 10px;
    position: relative;     
    border-top: blue 5px solid;
    box-shadow: 8px 8px 8px 8px rgb(247, 246, 246);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    left: 600px;
    top: 180px; 
}

.karma-icon {
    margin-left: 200px;
}

.team-icon {
    margin-left: 200px;
}

.sup-icon {
    margin-left: 220px;
}

.calculator-icon {
    margin-left: 200px;
}